* {
    margin: 0;
    padding: 0;
}
.tamLogo{
    width: 100px;
    height: 100px;
}
.nav-link{
    color: white;
   
}
.sanitosNav{
    background-color: #696969;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    height: auto;
    width: auto;
}
    
   
    
    
   
    

  

